$box-shadow-color: hsl(212, 6%, 44%);

$box-color-one: hsl(180, 62%, 55%);
$box-color-two: hsl(0, 78%, 62%);
$box-color-three: hsl(34, 97%, 64%);
$box-color-four: hsl(212, 86%, 64%);

$header-text-color: hsl(234, 12%, 34%);
$paragraph-text-color: hsl(212, 6%, 44%);

@mixin flexDisplay() {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins";
    height: 100vh;
    padding: 2rem;
}
.parent {
    @include flexDisplay();
    align-items: center;
    border-style: clear;
    padding-top: 2rem;

    p {
        font-size: 15px;
    }

    header {
        text-align: center;
        margin-bottom: 2rem;
        border-style: clear;

        h1 {
            font-size: clamp(1.5rem, 5vw, 10rem);
            font-weight: 200;
        }
        h1.bold {
            color: $header-text-color;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        p {
            color: $header-text-color;
        }
    }

    main {
        @include flexDisplay();

        h2 {
            color: $header-text-color;
        }
        p {
            color: $paragraph-text-color;
        }

        .container {
            max-width: 400px;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 2rem;
            border-style: clear;
            border-radius: .5rem;
            box-shadow: 0px 1px 10px -2px $box-shadow-color;
            border-top-style: solid;
            border-width: .3rem;
            overflow: hidden;

            h2 {
                margin-bottom: .5rem;
            }
            p {
                margin-bottom: 2rem;
            }
            img {
                float: right;
            }
        }
        #box1 {
            height: 0%;
            border-color: $box-color-one;
        }
        #box2 {
            border-color: $box-color-two;
        }
        #box3 {
            border-color: $box-color-three;
        }
        #box4 {
            height: 0%;
            border-color: $box-color-four;
        }
    }
}

@media (min-width: 1000px) {
    main {
        display: flex;
        flex-direction: row !important;
        
        #box1 {
            align-self: center;
        }
        #box2 {
            margin-bottom: 2rem;
        }
        #box4 {
            align-self: center;
        }
        .container {
            min-width: 400px;
        }
        .special-container {
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
}