$box-shadow-color: hsl(212, 6%, 44%);
$box-color-one: hsl(180, 62%, 55%);
$box-color-two: hsl(0, 78%, 62%);
$box-color-three: hsl(34, 97%, 64%);
$box-color-four: hsl(212, 86%, 64%);

@mixin flexDisplay() {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins";
    height: 100vh;
    padding: 2rem;
}
.parent {
    @include flexDisplay();
    border-style: clear;
}
header {
    margin-bottom: 2rem;
}
main {
    @include flexDisplay();
}
.container {
    height: clamp(15rem, 15vw, 25rem);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    border-style: clear;
    border-radius: .5rem;
    box-shadow: 0px 1px 10px -2px $box-shadow-color;
    border-top-style: solid;
    border-width: .3rem;
}
#box1 {
    border-color: $box-color-one;
}
#box2 {
    border-color: $box-color-two;
}
#box3 {
    border-color: $box-color-three;
}
#box4 {
    border-color: $box-color-four;
}